@charset "utf-8";
/* CSS Document */
h1{
    font-size: 34px;	
}

h2{
    font-size: 24px;	
}

p{
    font-size: 16px;	
}

.mg-b-30{
	margin-bottom: 30px;
}

.mg-t-20{
    margin-top: 20px	
}

.mg-t-b-20{
    margin: 20px 0; 	
}

.center{
    text-align: center;	
}

.m-0-a{
    margin: 0 auto;	
}

.clearfix{
    content: '';
	clear: both;
	display: table;
}

.red{
    color: red;	
}

.p-30{
    padding: 30px;	
}

.container{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.fl{
    float: left;	
}

.fr{
    float: right;	
}

.title{
	line-height: 50px;
}

.content{
	padding-top: 0;
}

.content-text p{
    line-height: 32px;
	text-indent: 32px	
}

.content-image{
    width: 500px;
	height: 250px;  	
}

.content-image img{
	width: 100%;
	height: 100%
}

.content-text-image{
    width: 100%;	
}

.content-text-image .content-text{
    width: 60%;	
}

.content-text-image .content-image{
    width: 40%;	
}